.home-page {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
  /* margin: 0 50px 50px 50px; */
}

.row {
  display: flex;
  flex-direction: row;
}

.content-block {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-basis: 75%;
  /* margin: auto; */
  /* height: 60vh; */
}

.sidebar {
  display: flex;
  flex-basis: 25%;
}

