<div class="main-body">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Đơn vị 1" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="device-table">

      <!-- ID Column -->
      <ng-container matColumnDef="matb">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ma thiet bi </th>
        <td mat-cell *matCellDef="let row"> {{row.matb}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="madv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ma don vi </th>
        <td mat-cell *matCellDef="let row"> {{row.madv}}</td>
      </ng-container>

      <ng-container matColumnDef="maloai">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ma loai </th>
        <td mat-cell *matCellDef="let row"> {{row.maloai}}</td>
      </ng-container>

      <ng-container matColumnDef="tentb">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ten thiet bi </th>
        <td mat-cell *matCellDef="let row"> {{row.tentb}}</td>
      </ng-container>

      <ng-container matColumnDef="nuocsx">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nuoc san xuat </th>
        <td mat-cell *matCellDef="let row"> {{row.nuocsx}}</td>
      </ng-container>

      <ng-container matColumnDef="tendv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ten don vi </th>
        <td mat-cell *matCellDef="let row"> {{row.tendv}}</td>
      </ng-container>

      <ng-container matColumnDef="tenloaitb">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ten loai thiet bi </th>
        <td mat-cell *matCellDef="let row"> {{row.tenloaitb}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteDevice(row.matb)">
             <mat-icon>delete</mat-icon>
           </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <!-- <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td> -->
      </tr>
    </table>

    <mat-paginator (page)="setPageTo($event)" [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
